<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AccountLess</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendor/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="css/new-age.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="img/logo_without_slogan.png" height="30" width="114" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {{# cosmic.object.landing-page.metadata.main_nav }}
                        <li>
                            <a class="page-scroll" href="#{{ link }}">{{ title }}</a>
                        </li>
                    {{/ cosmic.object.landing-page.metadata.main_nav }}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="background-image: url(img/background_newteal.jpg) ,linear-gradient(to left,{{ cosmic.object.landing-page.metadata.background_gradient_start }},{{ cosmic.object.landing-page.metadata.background_gradient_end }})">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Account Less with</h1>
                            <img src="img/logo_without_slogan.png" width="342" height="90" alt="">
                            <div class="container">
                              <a href="#download" class="btn btn-outline btn-xl page-scroll">
                                  Try the app now!
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{{ cosmic.object.landing-page.metadata.screenshot.url }}" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "landing-page button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Discover the future of accounting!</h2>
                    <p>Innovation has finally met accounting</p>
                    <div class="badges">
                        <a class="badge-link" target="_blank" href="{{ cosmic.object.landing-page.metadata.google_play_link }}"><img src="img/google-play-badge.svg" alt=""></a>
                        <a class="badge-link" target="_blank" href="{{ cosmic.object.landing-page.metadata.apple_store_link }}"><img src="img/app-store-badge.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Auditing just became old-school!</h2>
                        <p class="text-muted">Help us help you become the future of accounting</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{{ cosmic.object.landing-page.metadata.screenshot.url }}" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "landing-page button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                                <div class="col-md-6">
                                    <div class="feature-item">
                                        <i class="fa fa-line-chart"></i>
                                        <h3>Get on the Big Data movement</h3>
                                        <p class="text-muted">Armed with Machine Learning models that utilizes your data to predict your financial future</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="feature-item">
                                        <i class="glyphicon glyphicon-plane"></i>
                                        <h3>Have access on the go wherever you are!</h3>
                                        <p class="text-muted">You can access your account from anywhere in the world, you can travel knowing that your firm is in good hands!</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="feature-item">
                                        <i class="glyphicon glyphicon-lock"></i>
                                        <h3>Uncrackable</h3>
                                        <p class="text-muted">Secured with the best encryption technology, you can rest assured you will be the only one accessing your account</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="feature-item">
                                        <i class="glyphicon glyphicon-usd"></i>
                                        <h3>Journalize with ease</h3>
                                        <p class="text-muted">Just insert the transaction, we'll do all the work! We gaurantee all journals follow the accounting standard</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="cta" style="background-image: url({{ cosmic.object.landing-page.metadata.cta_background_image.url }})">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting. Start innovating.</h2>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">{{ cosmic.object.landing-page.metadata.get_started_cta }}</a>
            </div>
            <div class="container">
              <h3>PUT PRICING HERE</h3>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <div><h2>Contact Us! We'd love to hear from you!</h2></div>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a target="_blank" href="{{ cosmic.object.landing-page.metadata.twitter_link }}"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a target="_blank" href="{{ cosmic.object.landing-page.metadata.facebook_link }}"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a target="_blank" href="mailto:tarikishaq@hotmail.com"><i class="fa fa-envelope-o"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2016 AccountLess. All Rights Reserved</p>
            <ul class="list-inline">
                {{# cosmic.object.landing-page.metadata.footer_nav }}
                    <li>
                        <a href="#{{ link }}">{{ title }}</a>
                    </li>
                {{/ cosmic.object.landing-page.metadata.footer_nav }}
            </ul>
            <!-- <div class="center-block" style="width: 240px; margin-top: 20px; margin-bottom: 20px;">
                <a href="https://cosmicjs.com" target="_blank" style="color: #fff; text-decoration: none;">
                    <img style="float:left;margin-right:15px;position:relative;" src="https://cosmicjs.com/images/logo.svg" width="28" height="28">
                    <span class="powered-by" style="top: 3px; position: relative;">Proudly powered by Cosmic JS</span>
                </a>
            </div> -->
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/new-age.min.js"></script>

</body>

</html>
